/*
    background-color: #002868;
    */

.main{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    background-color: rgb(168, 13, 13);
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;

}
.icon-container{
  background-color: rgb(26, 27, 23);
  margin: 10px;
  padding: 10px;
  border-radius: 100px;
  width: 90px;
}

.icons{
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  width: 50px;
}


.lists{
    font-size: large;

}



/* unvisited link */
  a:link {
    color: #002868;
  }
  
  /* visited link */
  a:visited {
    color: #FFD700;
  }
  
  /* mouse over link */
  a:hover {
    color: #BF0A30;
  }
  
  /* selected link */
  a:active {
    color: #CDB87C;
  }